@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
.login-page{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.login-page__container{
    display: flex;
    border-radius: 50px;
    background-color: #1E1E1E;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.logo_container{
    display: grid;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
}

.registration_container{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        'name surname'
        'username username'
        'email email'
        'password checkPassword';
    gap: 25px;
}
.item1{
    grid-area: name;
}
.item2{
    grid-area: surname;
}
.item3{
    grid-area: username;
}
.item4{
    grid-area: email;
}
.item5{
    grid-area: password;
}
.item6{
    grid-area: checkPassword;
}

.registration_container > div {
    width: -webkit-fill-available;
  }

.logo_image{
    display: flex;
    justify-content: center;
    width: 300px;
}

.text{
    color: white;
    font-size: 1em;
}

.login_text{
    color: white;
    font-size: 2em;
    margin: 0;
}
.login-page_information{
    display: grid;
    grid-row-gap: 40px;
    justify-items: center;
    align-items: center;
}

.information{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.05);
    border-style: solid;
    border-color: #590004;
    color: white;
    font-size: 1.5em;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    background-color: #FF0000;
    border-style: solid;
    border-color: rgba(0, 0, 0, 20);
    font-size: 2em;
}

.submit:hover{
    background-color: #FF0000;
}

.login_image{
    width: 480px;
    height: auto;
    object-fit: contain;
}

/* #registrationForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* width: 500px;
    padding: 2rem; 
    border-radius: 1.5rem;
    background-color: #d9e5d6;
} */

.row {
    display: flex;
    width: 100%;
    gap: 32px;
}

.formInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.formInput>label {
    font-style: oblique;
    font-size: small;
}

input {
    border: none;
    border-radius: .15rem;
    padding: .35rem;
    font-size: 1em;
}

input:focus {
    outline: solid #0fa3b1;
}

.valid {
    display: none;
    color: #d90429;
    font-size: small;
}

#font{
    font-family: 'Kaisei HarunoUmi';
    font-weight: normal;
}

.validation input ~ .valid {
    display: block;
}

.validation input:not([type='submit']) {
    outline: solid red 1.5px;
}