@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Graduate&display=swap');

:root {
    --text-color: #f0efeb;
    --header-height: 90px;
    --navigation-width: 200px;
}

body {
    margin: 0px;
    background-color: #0a0908;
    overflow: hidden;
}