
.popUp_page__container{
    border-radius: 50px;
    width: max-content;
    display: flex;
    background-color: #121212;
    padding: 40px;
    flex-direction: column;
    align-items: center;
}

.popUp_container{
    display: grid;
    grid-row-gap: 40px;
    justify-items: center;
}

.input_text{
    display: flex;
    gap: 40px;
}

.popUp_text{
    color: white;
    font-size: 2em;
    margin: 0;
}

#font{
    font-family: 'Kaisei HarunoUmi';
    font-weight: normal;
}

.text{
    color: white;
    font-size: 1em;
}

.information{
    width: 100%;
    height: 55px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.05);
    border-style: solid;
    border-color: #590004;
    color: white;
    font-size: 1.5em;
}

input {
    border: none;
    border-radius: .15rem;
    padding: .35rem;
    font-size: 1em;
}


.information[type="number"]::-webkit-inner-spin-button,
.information[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;

}

input:focus {
    outline: solid #4c0000;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 253px;
    height: 55px;
    border-radius: 10px;
    background-color: #FF0000;
    border-style: solid;
    border-color: rgba(0, 0, 0, 20);
    box-shadow: 3px 5px rgba(0,0,0,0.20);
    font-size: 2em;
}

.submit:hover{
    background-color: #FF0000;
}

.color_picker{
    margin-left: 40px;
    background-color: #2c2b2b;
}

.input-button{
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

.addButton{
    display: flex;
    gap: 10px;
    align-items: center;
    width: max-content;
    border-color: #ee0a0a;
    background-color: transparent;
    color: #ee0a0a;
    font-family: 'Kaisei HarunoUmi';
}

.add_image{
    width: 30px;
    height: 30px;
}

.addButton:hover{
    background-color: transparent;
}

.box_portfolio{
    display: flex;
}

.box_portfolio_grid{
    width: 1337px;
    height: 100%;
    background-color: #291C1C;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: grid;
    grid-template-columns: auto auto auto ;
   
}

.portfolio_container{
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    align-items: flex-start;
}