.jumping-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;

    --delay: .3s;
    --time: 2s;
}

.dot {
    position: relative;
    margin: 0px 1px;
    animation-name: boing;
    animation-iteration-count: infinite;
    animation-duration: var(--time);
    transform: scale(.2);
}

.pos-1 {
    animation-delay: calc(var(--delay) * 0);
}

.pos-2 {
    animation-delay: calc(var(--delay) * 1);
}

.pos-3 {
    animation-delay: calc(var(--delay) * 2);
}

@keyframes boing {
    0%, 100% {
        transform: scale(.2);
    }

    50% {
        transform: scale(1);

    }
}